#toolbar {
  padding-left: 2%;
}

.navbar-actions {
  max-width: min-content;
  display: inline-block;
  align-content: center;
  text-decoration: underline;
  font-size: larger;
}

.logout {
  font-size: larger;
  text-decoration: none;
  border-radius: 10%;
  padding: 8px;
  box-shadow: 4px 4px black;
  border: 1px solid black;
}
