<mat-toolbar>
  <!-- <div class="navbar-logo">
      <img src="#" />
    </div> -->
  <mat-nav-list>
    <mat-list-item class="navbar-actions">
      <a routerLink="/movies" class="link">Movies</a>
    </mat-list-item>
    <mat-list-item class="navbar-actions">
      <a routerLink="/genres" class="link">Genres</a>
    </mat-list-item>
    <mat-list-item class="navbar-actions">
      <a routerLink="/directors" class="link">Directors</a>
    </mat-list-item>
    <mat-list-item class="navbar-actions">
      <a routerLink="/users" class="link">Profile</a>
    </mat-list-item>
  </mat-nav-list>
  <div class="navbar-actions"></div>
</mat-toolbar>
