<mat-toolbar id="toolbar">
  <div>
    <button mat-flat-button routerLink="/movies" class="logo">myFlix!</button>
  </div>
  <div style="width: 100%">
    <button mat-button routerLink="/movies" class="navbar-actions">
      Movies
    </button>

    <!-- <mat-list-item class="navbar-actions">
      <a routerLink="/genres" class="link">Genres</a>
    </mat-list-item>
    <mat-list-item class="navbar-actions">
      <a routerLink="/directors" class="link">Directors</a>
    </mat-list-item> -->

    <button mat-button routerLink="/users" class="navbar-actions">
      Profile
    </button>
  </div>
  <div style="justify-content: right">
    <button
      mat-raised-button
      routerLink="/welcome"
      (click)="logout()"
      class="logout"
    >
      Log out
    </button>
  </div>
</mat-toolbar>
