$phone-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;

.profile {
  justify-self: center;
  padding: 5px 20px 10px 20px;
  max-width: max-content;
  border: 2px solid black;
  border-radius: 10%;
  box-shadow: 5px 5px black;
  margin-top: 5px;
}

.favorite-movies {
  padding-left: 4%;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
}

.user-info {
  font-size: large;
}

.movie-card {
  flex: 1 1 auto;
  width: 19%;
  max-width: 20%;
  margin: 0.5%;
}

.title {
  font-size: x-large;
}

.starring {
  font-size: medium;
  text-decoration: overline;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: $large-screen) {
  .movie-card {
    width: 24%;
    max-width: 24%;
  }
}

@media only screen and (max-width: $medium-screen) {
  .movie-card {
    width: 32%;
    max-width: 32%;
  }
}

@media only screen and (max-width: $small-screen) {
  .movie-card {
    width: 49%;
    max-width: 49%;
  }
}

@media screen and (max-width: $phone-screen) {
  .movie-card {
    width: 98%;
    max-width: 98%;
  }
}

.image {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: auto;
  border: 2px;
  border-color: black;
  max-height: 75%;
}

.header {
  min-height: 13%;
  border-bottom: 2px;
  border-color: black;
}
