<div class="profileView">
  <h1>Profile</h1>
  <h2>Welcome {{ userData.Username }}</h2>
  <button
    mat-raised-button
    (click)="openProfileEditComponent()"
    style="margin-right: 10px"
  >
    Edit Details
  </button>
  <button mat-raised-button (click)="loadFavoriteMovies()" onclick="">
    See Favorite Movies
  </button>
  <div>
    <mat-card *ngFor="let movie of favoriteMovies" class="movie-card">
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <!-- <img [src]="movie.img" /> -->
    </mat-card>
  </div>
</div>
