<app-navbar></app-navbar>

<div class="movie-grid">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header class="header">
      <mat-card-title class="title">{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle class="starring"
        >Starring: {{ movie.LeadActor }}</mat-card-subtitle
      >
    </mat-card-header>
    <img src="{{ movie.Image }}" alt="{{ movie.Title }}" class="image" />
    <mat-card-actions class="actions">
      <button
        mat-button
        (click)="openGenreDialog(movie.Genre)"
        class="action-button"
      >
        Genre
      </button>
      <button
        mat-button
        (click)="openDirectorDialog(movie.Director)"
        class="action-button"
      >
        Director
      </button>
      <button
        mat-button
        (click)="openSynopsisDialog(movie)"
        class="action-button"
      >
        Synopsis
      </button>
      <button
        mat-raised-button
        (click)="executeToggleFavorite(movie)"
        class="action-button"
      >
        Favorite
        <mat-icon class="icon">
          {{ movie.icon }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
