$phone-screen: 480px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
  row-gap: 15px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.movie-card {
  flex: 1 1 auto;
  width: 24%;
  max-width: 24%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.title {
  font-size: xx-large;
}

.starring {
  font-size: large;
  text-decoration: overline;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.action-button {
  border: 2px solid black;
  margin: 2px;
  box-shadow: 1px 2px black;
}

.image {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: auto;
  max-height: 70%;
}

@media screen and (max-width: $large-screen) {
  .movie-card {
    width: 32%;
    max-width: 32%;
  }
}

@media only screen and (max-width: $small-screen) {
  .movie-card {
    width: 49%;
    max-width: 49%;
  }
}

@media screen and (max-width: $phone-screen) {
  .movie-card {
    width: 100%;
    max-width: 100%;
  }
}

.header {
  min-height: 13%;
  border-bottom: 2px;
  border-color: black;
}
